@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-light: rgb(147, 197, 253);
    --primary-lighter: rgb(96, 165, 250);
    --primary: rgb(37, 99, 235);
    --primary-darker: rgb(29, 78, 216);
    --primary-dark: rgb(30, 64, 175);
}


h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
}

body {
    font-family: 'Quicksand', sans-serif;
    @apply font-medium;
    font-size: 0.9em;
}

.btn-primary {
   @apply bg-primary text-white py-2 rounded-sm hover:bg-primary-darker transition duration-300 disabled:opacity-50 disabled:bg-primary mt-3 outline-none focus:ring;
}

.input {
    @apply border-2 border-gray-300 rounded-sm px-3 py-2 focus:bg-gray-100 focus:border-primary transition duration-500 outline-none;
}